body {
    font-family: Arial, sans-serif;
    background-color: #FFFFE0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #ccc;
    padding: 35px;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #405d77;
}

h1 {
    text-align: center;
    color: #007BFF;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
}
