body {
    font-family: Arial, sans-serif;
    background-color: #FFFFE0;
    color: #333;
    margin: 0;
    padding: 0;
}

.auth-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #ababab;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1 {
    color: #405d77;
    font-size: 2.5em;
    margin-bottom: 22px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    background: linear-gradient(135deg, #4CAF50, #66BB6A);
    color: #fff;
    border: none;
    padding: 14px 28px;
    margin: 20px 0;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    width: 100%;
    min-width: 150px;
    text-align: center;
}

button:hover {
    background: linear-gradient(135deg, #45a049, #5cbf5f);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

p {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #d0d0d0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #405d77;
}


.menu {
    margin-top: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.button-blue {
    background-color: #007BFF;
}

.button:hover {
    background-color: #45a049;
}

.button-blue:hover {
    background-color: #0056b3;
}

.image-container {
    overflow: hidden;
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
